version: '3.8'

services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: champ253918
      MYSQL_DATABASE: Workexperience
      MYSQL_USER: champ253918
      MYSQL_PASSWORD: champ253918
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
